<!DOCTYPE html>
<html>
<head>
    <title>FaviFind - Grab Favicons from any Website</title>
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header class="navbar">
		<div class="container">
			<a class="navbar-brand" href="/">FaviFind</a>
		</div>
	</header>
	<div class="container text-center">
		<h2>Find a Favicon:</h2>
		<div class="col-md-offset-2 col-md-8">
		<form action="/">
			<div class="input-group">
				<input class="form-control" type="text" value="{{request.args.get('d', '')}}"name="d" required>
				<div class="input-group-btn">
					<input type="submit" value="Find" class="btn btn-primary">
				</div>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="fresh" checked> Get Freshest?</label>
			</div>
		</form>
			{% if result %}
			<div class="results well">
				{% if favicon %}
					<img src="{{ favicon.favicon }}"/>
					<p>Favicon was first found on <strong>{{ favicon.created_at.strftime("%b %d, %Y") }}</strong></p>
				{% else %}
				<p>Sorry, we could not find the favicon for:</p><p><strong>{{request.args.get('d')}}</strong> :(</p>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</body>
</html>
